{% extends 'base.html' %}

{% block content %}


</body>
</html>
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Welcome to Weather Visualization</h1>
        <p class="card-text">Logged in Successfully.</p>
      </div>
    </div>
    <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⛅</text></svg>"
  />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  {% include 'search.html' %}
    
  </div>
</div>
{% endblock %}